<mat-toolbar color="primary">
  <span>{{usuario}}</span>
  <span class="example-fill-remaining-space"></span>
  <span><button mat-raised-button class="matboton" (click)="logout()">Salir</button></span>
</mat-toolbar>

<div class="login-page">
  <div class="formm">
    <mat-list>
      <mat-list-item *ngFor="let file of files">
        Folio: {{ file.folio }} /
        Fecha: {{ file.date | date : format : timezone }}
        <br>
        Total: {{ file.total }}
        <p></p>
        <button  mat-raised-button class="matboton"  (click)="dowloadUnique(file.id)">Descargar</button>
        <mat-divider [inset]="true"></mat-divider>
      </mat-list-item>

    </mat-list>
  </div>
</div>
