<div class="topnav">
  <a class="active">Bienvenido: </a>

  <a class="blanco">{{usuario}}</a>
</div>
  <a ><button mat-raised-button class="matboton" (click)="logout()">Salir</button></a>
  <a ><button mat-raised-button class="matboton" (click)="conversor(12.01)">Numero Prueba</button></a>
<div class="login-page">
  <div class="formm">
    <mat-list>
      <mat-list-item *ngFor="let file of files">
        Folio: {{ file.folio }} /
        Fecha: {{ file.date | date : format : timezone }}
        <br>
        Total: {{ file.total }}
        <p></p>
        <button  (click)="dowloadUnique(file.filename)">Descargar</button>
        <mat-divider [inset]="true"></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
</div>
